
/*
  arctic nights    http://www.colourlovers.com/palette/3981829/Arctic_Nights
 */
$colorA: #221F22;
$colorB: #8B5E66;
$colorC: #AB9594;
$colorD: #BBC5B4;
$colorE: #E9D7BF;
/**/

$colorA: black !default;
$colorB: black !default;
$colorC: lightgray !default;
$colorD: gray  !default;
$colorE: white !default;


html, body {
    background-color:  $colorC;
}

body {
  background-color:  $colorE;
}

body.b50 {
  background-color: $colorE;
  margin-left: 25%;
  margin-right: 25%;
  padding: 1em;
  border-style: solid;
  border-color: $colorB;
  color: $colorA;
}

.flex-container {
  display: flex;
}

.flex-no-grow {
  flex-grow: 0;
}

.flex-full-grow {
  flex-grow: 1;
}

#gl-canvas {
  width: 98vh;
  height: 98vh;
}

.value-display {
  border-style: solid;
  border-width: 1px;
  padding: 3px;
  width: 5em;
}



table.grid, table.grid th, table.grid td {
  border-style: solid;
  border-collapse: collapse;
  border-width: 1px;
  padding: 3px;
}



